@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

nav, footer {
    background-color: #242526;
    max-height: 10vh;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 20px;
    color: #fff;
}

nav *, footer * {
    max-height: 8vh;
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a[href="#header"] {
    text-transform: uppercase;
}

#nav-items {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    color: #ddd;
    padding: 5px 10px;
    border-bottom: 3px solid #242526;
    transition: 0.4s;
}

.nav-item:hover {
    border-bottom: 3px solid #000;
}

#main-title {
    width: fit-content;
    display: block;
    margin: 10px auto;
}

#main-title h1 {
    text-transform: uppercase;
    text-align: center;
}

#main-title p {
    font-size: 1.2em;
}

#main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    max-width: 100vw;
}

#main-content section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75vw;
    gap: 10px;
}

.card {
    width: calc(25vw - 10px);
    transition: 0.4s;
}

.card-icon {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.card-title, .mini-card-title, #main-content aside h2 {
    text-transform: uppercase;
}

.card-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.card:hover, .mini-card:hover {
    position: sticky;
    /* transform: scale(1.2); */
    /* padding: 0px 15px; */
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 5px #aaa;
}

#main-content aside {
    background-color: #242526;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 10px;
}

#mini-cards-area {
    min-height: calc(100% - 40px);
    max-height: max-content;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-top: 15px;
    gap: 15px;
}

.mini-card {
    padding: 0px 15px;
    width: 100%;
    transition: 0.4s;
}

.mini-card:hover {
    color: #000;
}

.mini-card-icon {
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

@media (orientation: portrait) {
    nav, footer {
        justify-content: center;
        min-height: 25vh;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 1200px) {
    #main-content section {
        width: fit-content;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }
    #mini-cards-area {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .mini-card {
        flex: 0 1 200px;
    }
    
    .card {
        width: 40vw;
    }

}

@media (max-width: 600px) {
    #main-content section {
        width: fit-content;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    #main-content aside {
        margin: 10px 0px;
    }

    .card {
        width: 75vw;
    }

    .mini-card {
        min-width: 75vw;
    }

    #main-title {
        text-align: center;
    }

    #main-title h1 {
        font-size: 1.5em;
    }

    #main-title p {
        font-size: 1em;
    }

}
